{% extends "base.html" %}
{% load socialaccount %} 
{% load static %}


{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <br><br><br><br><br><br>
                <h1 style="text-align: center;">Privacy Policy</h1>
                Last updated: 11/17/2023 <br>
<p>

    Thank you for using the web application Bio-Suite-T. This Privacy Policy is designed to help you understand how we collect, use, and safeguard your personal information. By using the App, you agree to the terms outlined in this Privacy Policy.
</p>

<h2>1. Information We Collect</h2>
<h3>1.1 User Account Information</h3>
<p>
    To provide you with access to the App's features, we collect and store the following information:
    <ul>
        <li>
            Name
        </li>
        <li>
            Email address
        </li>
        <li>
            Other relevant account information
        </li>
    </ul>
    This information is used solely for the purpose of managing your account automatically within the system.
</p>
<h3>1.2 Genomic and Proteomic Data</h3>
<p>
    The genomic and proteomic data stored in the App's database do not pertain to the developers of the App. Instead, these data belong to the Joint Genome Institute (JGI) and their respective authors. We, as developers, do not claim ownership or responsibility for these datasets.
</p>

<h2>Use of your information</h2>
<h3>2.1 Account Management</h3>
<p>

    Your account information is used to facilitate and streamline your experience with the App. We do not share this information with any third parties.
</p>

<h3>2.2 Genomic and Proteomic Data</h3>
<p>

    The genomic and proteomic data stored in the App's database are provided by JGI and their respective authors. We do not use, modify, or share these data for any purpose other than what is explicitly stated by JGI's terms and conditions.
</p>

<h2>3. Data Security</h2>
<p>

    We prioritize the security of your information and have implemented industry-standard measures to protect it from unauthorized access, disclosure, alteration, and destruction.
</p>
<h2>4. Third-Party Services</h2>
<p>

    The App may contain links to third-party websites or services that are not owned or controlled by us. We are not responsible for the privacy practices or content of these third-party sites.
</p>
<h2>5. Changes to This Privacy Policy</h2>
<p>

    We reserve the right to update or change our Privacy Policy at any time. Any changes will be effective immediately upon posting the revised Privacy Policy on the App. Your continued use of the App after the changes constitutes acceptance of the updated Privacy Policy.
</p>

<h2>6. Contact Us</h2>
<p>

    If you have any questions or concerns about this Privacy Policy, please contact us at victor.terron@cimat.mx.
</p>
<br>
By using the App, you acknowledge that you have read, understood, and agree to be bound by this Privacy Policy.
<br><br><br><br>

            </div>
        </div>
    </div>
    
</body>
</html>

{% endblock %}